Repository jenkins-infra/repository-permissions-updater, pull requests merged in 2021-05, with the labels that each got.

#1908 Add permission for ci-with-toad-edge plugin
  permissions/plugin-ci-with-toad-edge.yml
Labels: needs authorization

#1957 Update plugin-deployit-plugin.yml
  permissions/plugin-deployit-plugin.yml
Labels: needs-github-permissions

#1958 Update plugin-xlrelease-plugin.yml
  permissions/plugin-xlrelease-plugin.yml
Labels: authorization OK, needs-github-permissions

#1963 Add 'nsurendran' and 'vikrambollu_atlassian' to 'Atlassian Jira Software Cloud' plugin
  permissions/plugin-atlassian-jira-software-cloud.yml
Labels: authorization OK, needs initial login
